body {
    /*color: midnightblue;*/
    font-family: Arial;
}

h1, h2, h3 {
    font-family: Verdana;
}

h1 {
    color: dodgerblue;
	border: solid 1px dodgerblue;
	/* Alinhamento centralizado */
	text-align: center;
}

h2 {
    margin-left: 20px;
    color: steelblue;
    /*color: green;*/
}

h3 {
    /*color: red;*/
    color: midnightblue;
}

p {
    margin-left: 40px;
    color: dimgray;
}

span {
    color: red;
    font-style: italic;
    font-weight: bold;
}

span.aviso {
    font-weight: bold;
}
/**
@media (max-width: 450px) {
    h1 {
        color: green;
    }
    h2 {
        color: green;
    }
}
*/